secrets.yaml
.HA_VERSION
.storage/
tts/
*.log*
*.db*
HASSGoogAssist.json
ip_bans.yaml
.shopping_list.json
blueprints/
custom_components/
www/community/
www/pipe.svg
known_devices.yaml
google_calendars.yaml
.google.token
core
image/
